<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.resources.CarMapper">
	<resultMap id="carResult" type="car">
		<id property="id" column="id" />
		<result property="brand" column="brand" />
		<result property="type" column="type" />
		<result property="door" column="door" />
		<result property="year" column="year" />
		<result property="engineCode" column="engineCode" />
		<result property="transmission" column="transmission" />
		<result property="price" column="price" />
	</resultMap>
	
	<select id="findAllCar" resultType="car" resultMap="carResult">
		SELECT id, brand, type, door, year, engineCode, transmission, price FROM cars
	</select>
	
	<select id="selectCar" resultType="car" parameterType="int" resultMap="carResult">
		SELECT id, brand, type, door, year, engineCode, transmission, price FROM cars WHERE id = #{id}
	</select>
	
	<insert id="insertCar" parameterType="car" keyProperty="id">
		INSERT INTO cars(id,brand,type,door,year,engineCode,transmission,price) VALUES(#{id}, #{brand}, #{type}, #{door}, #{year}, #{engineCode}, #{transmission}, #{price})
	</insert>
	
	<update id="updateCar" parameterType="car">
		UPDATE cars SET brand=#{brand}, type=#{type}, door=#{door}, year=#{year}, engineCode=#{engineCode}, transmission=#{transmission}, price=#{price} WHERE id=#{id}
	</update>
	
	<delete id="deleteCar" parameterType="int">
		DELETE FROM cars WHERE id=#{id}
	</delete>
</mapper>